
    {{!--about us start --}}
    <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Hello User, Welcome to this Webpage</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/about.svg" alt="herosection_img">
                        </figure>
                    </div>
                    
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-item-start flex-column">
                        <h1>I'm 2023 passout</h1>
                        <h1>I'm Backend Engineer</h1>
                        <p>from BBS College of Engineering and Technology Prayagraj<span class="bold-style"></span> Profersher developer 😎</p>
                        <button class="btn-style btn-primary" >Next Page</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- here section end --}}