    <div class="container-fluid mt-5 about-style" id="locationid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Location</h1>
                <p class="text-center sub-heading">BBS Engineering College and Technology Prayagraj</p>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-servises setting">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3600.371986130411!2d81.8452765751247!3d25.525983218305576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398534756bf3572d%3A0x74542bb85458b295!2sBBS%20GROUP%20OF%20INSTITUTIONS!5e0!3m2!1sen!2sin!4v1691750185628!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section> 
